In [1]:
import pandas as pd
import numpy as np

In [3]:
nypd_complains_df = pd.read_csv('cleaned_data/nypd_complaints.csv')
nypd_complains_df

,Unnamed: 0,vic_sex,offense,date,susp_sex,category,longitude,latitude,neighborhood,borough,area
0,0,F,ROBBERY,2019-12-31,U,FELONY,-73.881681,40.838026,East Tremont,Bronx,2.211749e+06
1,1,F,PETIT LARCENY,2019-12-30,NaN,MISDEMEANOR,-73.945657,40.800334,Central Harlem,Manhattan,4.387418e+06
2,2,M,FELONY ASSAULT,2019-12-24,M,FELONY,-73.939376,40.669832,Crown Heights,Brooklyn,6.261658e+06
3,3,D,PETIT LARCENY,2019-12-30,F,MISDEMEANOR,-73.908014,40.873671,Marble Hill,Manhattan,3.446919e+05
4,4,M,PETIT LARCENY,2019-12-30,NaN,MISDEMEANOR,-73.994529,40.760935,Midtown West,Manhattan,3.273132e+06
...,...,...,...,...,...,...,...,...,...,...,...
995,995,M,ASSAULT 3 & RELATED OFFENSES,2019-08-25,NaN,MISDEMEANOR,-73.907023,40.852854,Tremont,Bronx,1.244422e+06
996,996,M,PETIT LARCENY,2019-04-19,NaN,MISDEMEANOR,-73.971658,40.676083,Park Slope,Brooklyn,2.765477e+06
997,997,M,PETIT LARCENY,2019-08-30,NaN,MISDEMEANOR,-73.978537,40.785795,Upper West Side,Manhattan,5.693715e+06
998,998,F,PETIT LARCENY,2019-04-20,U,MISDEMEANOR,-73.754346,40.670011,Laurelton,Queens,4.474621e+06
999,999,M,ASSAULT 3 & RELATED OFFENSES,2019-04-20,U,MISDEMEANOR,-73.981786,40.722184,East Village,Manhattan,1.847620e+06

In [4]:
parks_properties_df = pd.read_csv('cleaned_data/parks_properties.csv')
parks_properties_df

,Unnamed: 0,latitude,longitude,category,name,waterfront,acres,neighborhood,borough,area
0,0,40.756623,-73.727964,Jointly Operated Playground,Challenge Playground,False,2.035,Little Neck,Queens,2.064722e+06
1,1,40.674433,-73.865252,Neighborhood Park,Robert E. Venable Park,False,2.939,East New York,Brooklyn,1.617295e+07
2,2,40.525576,-74.184467,Nature Area,Kingdom Pond Park,False,4.220,Huguenot,Staten Island,4.679218e+06
3,3,40.876281,-73.891882,Neighborhood Park,Harris Park,False,15.320,Bedford Park,Bronx,1.525273e+06
4,4,40.842200,-73.888758,Strip,Park,False,0.023,East Tremont,Bronx,2.211749e+06
...,...,...,...,...,...,...,...,...,...,...
995,995,40.862030,-73.890417,Triangle/Plaza,Rose Hill Park,False,0.745,Fordham,Bronx,1.685532e+06
996,996,40.627848,-74.073075,Waterfront Facility,Stapleton Esplanade,True,4.605,Stapleton,Staten Island,9.311566e+05
997,997,40.684662,-73.922883,Garden,Halsey Ralph & Howard Community Garden,False,0.065,Bedford-Stuyvesant,Brooklyn,8.300323e+06
998,998,40.809486,-73.917005,Playground,People's Park,False,1.394,Mott Haven,Bronx,3.333991e+06
999,999,40.805242,-73.924566,Recreation Field/Courts,Pulaski Park,False,1.450,Mott Haven,Bronx,3.333991e+06

In [5]:
school_locations_df = pd.read_csv('cleaned_data/school_locations.csv')
school_locations_df

,Unnamed: 0,latitude,longitude,category,name,neighborhood,borough,area
0,0,40.648959,-74.011420,Elementary,P.S. 001 The Bergen,Sunset Park,Brooklyn,5.880031e+06
1,1,40.656423,-73.951575,Junior High-Intermediate-Middle,Parkside Preparatory Academy,Prospect Lefferts Gardens,Brooklyn,1.188548e+06
2,2,40.682311,-73.955219,Elementary,P.S. 003 The Bedford Village,Bedford-Stuyvesant,Brooklyn,8.300323e+06
3,3,40.658500,-73.879276,Elementary,P.S. K004,East New York,Brooklyn,1.617295e+07
4,4,40.685241,-73.921970,Elementary,P.S. 005 Dr. Ronald McNair,Bedford-Stuyvesant,Brooklyn,8.300323e+06
...,...,...,...,...,...,...,...,...
995,995,40.704697,-74.011202,High school,Millennium High School,Financial District,Manhattan,1.555309e+06
996,996,40.743407,-74.002540,High school,Landmark High School,Chelsea,Manhattan,2.225742e+06
997,997,40.732665,-73.982590,High school,High School for Health Professions and Human S...,Gramercy Park,Manhattan,5.333745e+05
998,998,40.799098,-73.965611,Junior High-Intermediate-Middle,West Prep Academy,Upper West Side,Manhattan,5.693715e+06
999,999,40.743407,-74.002540,Secondary School,Quest to Learn,Chelsea,Manhattan,2.225742e+06

In [6]:
subway_stations_df = pd.read_csv('cleaned_data/subway_stations.csv')
subway_stations_df

,Unnamed: 0,name,line,longitude,latitude,neighborhood,borough,area
0,0,Astor Pl,4-6-6 Express,-73.991070,40.730054,East Village,Manhattan,1.847620e+06
1,1,Canal St,4-6-6 Express,-74.000193,40.718803,Chinatown,Manhattan,3.478105e+05
2,2,50th St,1-2,-73.983849,40.761728,Midtown,Manhattan,1.862342e+06
3,3,Bergen St,2-3-4,-73.974999,40.680862,Prospect Heights,Brooklyn,9.071918e+05
4,4,Pennsylvania Ave,3-4,-73.894886,40.664714,East New York,Brooklyn,1.617295e+07
...,...,...,...,...,...,...,...,...
468,468,Coney Island - Stillwell Av,D-F-N-Q,-73.981236,40.577281,Coney Island,Brooklyn,3.564659e+06
469,469,34th St - Hudson Yards,7-7 Express,-74.002197,40.755446,Midtown West,Manhattan,3.273132e+06
470,470,72nd St,Q,-73.958362,40.768803,Upper East Side,Manhattan,4.861989e+06
471,471,86th St,Q,-73.951771,40.777861,Upper East Side,Manhattan,4.861989e+06
472,472,96th St,Q,-73.947066,40.784237,Upper East Side,Manhattan,4.861989e+06